<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/LG.png">
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid" style="background-color:black; color:white ;">
            <div class="row">
                <div class="col-md-4" >
                    <nav class="nav justify-content-center">
                        <a class="nav-link disabled" style="color: white; "href="#">Hotline:19001234</a>
                      </nav>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4" style="color: white;">
                    <nav class="nav align-content-end">
                        <a class="nav-link active" style="color: white; href="login.html">Đăng nhập</a>
                        <a class="nav-link" style="color: white; href="#">Đăng ký</a>
                        <a class="nav-link active"  style="color: white; href="#">Tài khoản</a>
                      </nav>
                </div>
                
            </div>
        </div>
        <!-- <div class="container">
            <div class="alert alert-success view_noti">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
                <strong>Cám ơn quý khách đã đặt hàng</strong>
                backend xử lí kiểm tra đã đặt hàng chưa? đúng thì set cái aria-hidden = true để hiện lên còn sai thì set bằng false để ko hiện
            </div>
        </div> -->
        <!-- start menu -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 .col-md-pull-9">
                    <img src="/images/" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>