<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanht toán</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/logo_dhct.png">
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-push-3">
                <form action="hoadon" method="POST" role="form">
                    <legend>Thanh toán</legend>
                    <!-- khách hàng nhập tên , nếu đã đăng nhập thì giá trị value phải được set = tên khách hàng-->
                    <div class="form-group">
                        <label for="">Tên người mua hàng</label>
                        <input class="form-control" value="" name="tennguoimua" type="text" disabled="">
                    </div>

                    <div class="form-group">
                        <label for="">Địa chỉ nhận hàng</label>
                        <textarea class="form-control" name="diachigh">hiển thị địa chỉ ở đây</textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Ghi chú</label>
                        <textarea class="form-control" name="note"></textarea>
                    </div>
                    <!-- lấy số điện thoại -->
                    <div class="form-group">
                        <label for="">Số điện thoại liên hệ</label>
                        <input class="form-control" value="hiển thị ở đây" name="sdtgh" type="number" disabled="">
                    </div>

                    <div class="form-group">
                        <label for="">Chọn hình thức giao hàng</label>
                        <select name="hinhthucgh" class="form-control" required="required">
                            <option value="1">Thanh toán tại nhà</option>
                            <option value="2" selected="">Thanh toán online</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Số lượng sản phẩm</label>
                        <input class="form-control" name="soluongsp" value="${soluong}" type="text" disabled="">
                    </div>


                    <div class="form-group">
                        <label for="">Tổng tiền phải thanh toán</label>
                        <input class="form-control" name="tongtien" value="${tongtien}+VNĐ" type="text" disabled="">
                    </div>

                    <button type="submit" class="btn btn-primary">Đặt hàng</button>
                    <a href="index.html" onclick="return confirm('Bạn thực sự muốn rời khỏi trang này');"
                        class="btn btn-danger">Hủy bỏ</a>
                </form>
            </div>

        </div>
    </div>
    <!-- footer -->
    <div id="footer" style="width: 100%; background: #4b4b4b; padding: 10px 0px; color: #fff;">


        <div class="text-center">
            <p>
                &copy 2019 - <b>GIÀY DHCT </b> <br>
                Email: dhct@gmail.com | Điện thoại hỗ trợ 24/7:&nbsp;<a href="tel:0971898455"
                    style="color: #fff;">0972.898.888</a> <br>
                Địa chỉ: Số 108 - Trần Phú - Hà Đông - Hà Nội
            </p>
        </div>

    </div>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>