<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shotrcut icon" href="/images/LG.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-md-push-4" style="background-image: url('/images/b2.jpg'); min-height: 500px;">
                <form action="signup" method="post" role="form">
                    <legend>Đăng Ký</legend>
                    <div class="form-group">
                        <label for="">Tên đăng nhập</label>
                        <input type="text" class="form-control" name="user_signUp" id=""
                            placeholder="Nhập tên tài khoản">
                    </div>
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input type="password" class="form-control" name="password_signUp" id=""
                            placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="">Họ</label>
                        <input type="text" class="form-control" name="Ho_signUp" id="" placeholder="Nhập họ của bạn">
                    </div>
                    <div class="form-group">
                        <label for="">Tên</label>
                        <input type="text" class="form-control" name="ten_signUp" id="" placeholder="Nhập tên của bạn">
                    </div>
                    <div class="form-group">
                        <label for="">Số điện thoại</label>
                        <input type="number" class="form-control" name="sdt_signUp" id=""
                            placeholder="Nhập số điện thoại">
                    </div>
                    <div class="form-group">
                        <h6>Địa chỉ</h6>
                        <label for="">Số nhà</label>
                        <input type="text" class="form-control" name="sonha_signUp" id="" placeholder="Nhập số nhà">
                        <label for="">Xã/phường</label>
                        <input type="text" class="form-control" name="xa_signUp" id="" placeholder="Nhập xã/phường">
                        <label for="">Quận/huyện</label>
                        <input type="text" class="form-control" name="huyen_signUp" id="" placeholder="Nhập quận/huyện">
                        <label for="">Tỉnh/thành phố</label>
                        <input type="text" class="form-control" name="tinh_signUp" id="" placeholder="Nhập tỉnh/thành phố">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="email_signUp" id="" placeholder="Nhập email">
                    </div>
                    <div style="text-align: center;">
                        <button type="submit"
                            style="width: 250px;height: 38px; background-color: #034ea1; border: none;color: aliceblue;">Đăng
                            ký</button>

                    </div>
                    <br><a href="https://www.facebook.com/">Đăng ký bằng facebook</a></br>
                    <a
                        href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin">Đăng
                        ký bằng tài khoản google</a>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>